<!DOCTYPE html>
<html>
<head>
  <title>What's your ski name?</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='container'>
  <div class='offset4 span6'>
    <%= yield %>
    <div class='row'>
      <%= link_to image_tag('github-icon.png', :alt => 'Github'), 'https://github.com/tspike/ski_name' %>
    </div>
    <div class='row'>
      This project is open source.
    </div>
  </div>
</div>
</body>
</html>
